<div class="card" style="width: 18rem;">



  <div class="card-body">

    <h5 class="card-title">{{ cat.titolo }} {{ istituti?.titolo }}</h5>

    <p class="card-text">{{ cat.descrizione }}</p>

      <ul  *ngFor=" let alunno of alunni" >

        @if (istituti?.categoria == alunno.scuola) {

          <li>
            <a [routerLink]="['/list',alunno.id]" routerLinkActive="active" ariaCurrentWhenActive="page">{{ alunno.firstName }} {{ alunno.lastName }}</a>
          </li>

        <router-outlet ></router-outlet>
        }

      </ul>

    <a href="#" class="btn btn-primary">Go somewhere </a>

  </div>
</div>
